<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Category</title>
</head>
<body>
<h1>Edit Category</h1>

<form th:action="@{admin/categories/updateCategory}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" id="categoryId" name="categoryId" th:value="${category.categoryId}">
    <label for="categoryName">Category Name:</label>
    <input type="text" id="categoryName" name="categoryName" th:value="${category.categoryName}" required>
    <label for="icon">Icon:</label>
    <input type="file" id="icon" name="icon">
    <button type="submit">Update Category</button>
</form>

</body>
</html>